.UsersDashboardPage {
  background-color: red;
}

.UsersDashboardPage__main {
  display: flex;
}

.UsersDashboardPage__main:nth-child(2) {
  /* min-width: 100%; */
  /* width: 50%; */
  /* flex: 1; */
  flex-basis: 50%;
  background-color: white;
}

.UsersDashboardPage__main:nth-child(3) {
  /* flex-basis: 50%;
  background-color: white; */
}